/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212; /* Dark background */
    padding: 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 40px; /* Adjust size as needed */
    margin-right: 10px;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.navbar-links a {
    color: #ffffff; /* Text color */
    text-decoration: none;
    font-weight: bold;
}

.navbar-links a:hover {
    color: #f39c12; /* Hover color */
}
